
.cool-border {
    border-width: 7px !important;
    border-color: burlywood !important;
    border-radius: .5rem !important;
}

.cool-border:hover {
    border-color: red !important;
    background-color: black !important;
    transform: scale(0.9);
}